body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    text-align: center;
    color: orangered;
}

h2 {
    text-align: center;
    color: orangered;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 300px;
    color: orangered;
    background-color: black;
    border: 1px solid orangered;
    border-radius: 40px;
}

button {
    padding: 10px 20px;
    background-color: orangered;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 10px orangered;
}

button:hover {
    background-color: orange;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: orangered;
    background-color: black;
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 2px 20px rgba(131, 63, 7, 0.856);
}

button.edit, button.delete {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}
